.container{
    /* background: yellowgreen; */
    display: flex;
    /* border: 2px solid black; */
    position: relative;
    /* align-items: center; */
}

.sliderContainer{
    /* width: 500px; */
    position: relative;
    /* display: flex;
    justify-content: center; */
    /* background: yellow; */
    padding: 20px 70px;
}

.sliderPhotoCont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* background: green; */
}

.sliderPhoto{
    width: 100%;
    margin: auto;
}

.buttonBack{
    position: absolute;
    top: 49.3%;
    left: 2px;
    background-color: transparent;
    border: none;
}

.buttonNext{
    position: absolute;
    right: 0;
    top: 50%;
    background-color: transparent;
    border: none;
}




.photosColumnContainer{
    /* background: blueviolet; */
    padding: 2px;
    width: 75px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.photoItemCont{
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid var(--light);
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}


.activeItem{
    position: absolute;
    width: 4px;
    top: 0;
    bottom: 0;
    left: 0;
}

.photoItem{
    width: 100%;
}

.itemOverlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    transition: .2s;
}

.itemOverlay:hover{
    background-color: #ffffff41;
}


.enlargedImageContainer{
    border: 2px solid rgb(31, 20, 179);
    z-index: 4;
    position: absolute;
    left: 102%;
    width: 100%;
}



@media screen and (max-width: 750px){
    .container{
        flex-direction: column-reverse;
    }

    .sliderContainer{
        padding: 15px;
    }

    .photosChain{
        display: flex;
    }

    .photoItem{
        width: 50px;
    }
}