:root{
    --yellow: #fff159ff;
    --blue: #3484faff;
    --light: #ebebebff;
    --black: #333333ff;
    --green: #00a650ff;
}

html,
body,
div#__next,
div#__next > div
{    
    min-height: 100vh;
}

/* semantic ui overwrite */
.ui.dimmer>.content{
    width: 100%;
}

i.icon.icon-no-margin{
    margin: 0;
}

.btn-bg-white{
    background-color: white;
    border-radius: 5px;
}

.ui.blue.right.ribbon.label,
.ui.yellow.right.ribbon.label{
    margin-left: 27px;
}

/* pure-react-carousel overwrite */
.carousel{
    margin: auto;
}

/* autoComplete.js owerwite */
.autoComplete_wrapper{
    width: 100%;
}

.autoComplete_result{
    color: var(--black);
    transition: none;
    padding: 8px;
    margin: 0;
    border-radius: 0;
}

.autoComplete_result:hover{
    background-color: var(--blue);
    color: var(--light);
}

.autoComplete_result:hover span.autoComplete_highlighted{
    color: #fff;
}

span.autoComplete_highlighted{
	color: black;
}

#autoComplete_list{
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
}