:root{
    --yellow: #fff159ff;
    --blue: #3484faff;
    --light: #ebebebff;
    --superlight: #f7f7f7;
    --black: #333333ff;
    --green: #00a650ff;
}

html,
body,
div#__next,
div#__next > div
{    
    min-height: 100vh;
}

.photo-form-cover{
    border: 3px solid #ff8c22;
    border-radius: 8px;
    position: relative;
}

.photo-form-cover::before{
    content: 'cover';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #ff8c22;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    border-radius: 0 0 0 4px;
}

/* semantic ui overwrite */
.ui.dimmer>.content{
    width: 100%;
}

i.icon.icon-no-margin{
    margin: 0;
}

.btn-bg-white{
    background-color: white;
    border-radius: 5px;
}

.ui.blue.right.ribbon.label,
.ui.yellow.right.ribbon.label{
    margin-left: 27px;
}

.ui.centered.one.column.grid{
    width: 100% !important;
    margin: 0 !important;
}

#githubIcon-about-home{
    font-size: 22px;
    margin: 0;
}

/* pure-react-carousel overwrite */
.carousel{
    margin: auto;
}

.carousel__dot--selected{
    background: #fff !important;
    transform: scale(1.7);
}

/* autoComplete.js owerwite */
.autoComplete_wrapper{
    width: 100%;
}

.autoComplete_result{
    color: var(--black);
    transition: none;
    padding: 8px;
    margin: 0;
    border-radius: 0;
}

.autoComplete_result:hover{
    background-color: var(--blue);
    color: var(--light);
}

.autoComplete_result:hover span.autoComplete_highlighted{
    color: #fff;
}

span.autoComplete_highlighted{
	color: black;
}

#autoComplete_list{
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
}



/* ================ media queries rewrite =================== */

/* semantic UI */
@media screen and (max-width: 750px){
    .ui.blue.right.ribbon.label,
    .ui.yellow.right.ribbon.label{
        margin-left: -15px;
        margin-bottom: -5px;
    }
}
