.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 50px;
    /* background: blueviolet; */
}
.right{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px;
    margin-top: 10px;
}
.h1, .h2{
    margin: 0;
}

.h1{
    color: black;
    font-weight: bolder;
}

.h2{
    color: var(--black);
    font-weight: lighter;
}

@media screen and (max-width: 700px){
    .h1{
        font-size: 28px;
    }
    .h2{
        font-size: 20px;
    }
}

@media screen and (max-width: 580px){
    .h1{
        font-size: 23px;
    }
    .h2{
        font-size: 18px;
    }
    .right{
        margin-left: 30px;
    }
}

