.container{
    display: grid;
    grid-template-columns: 1fr 485px;
    width: 100%;
    background-color: var(--yellow);
    padding: 15px;
    position: relative;
    justify-items: center;
    align-items: center;
}

.noResponsive{
    display: flex;
    align-items: center;
}

.logo{
    /* background: blue; */
    padding: 2px;
    width: 180px;
}

#logo-mercadoabierto{
    width: 100%;
}


.menuIcon{
    display: none;
}

.responsive{
    display: flex;
    align-items: center;
}

.cartAndAvatar{
    display: flex;
    align-items: center;
}

.loginSignup{
    width: 100%;
}

.loginSignup a{
    width: 100%;
    margin: 0 5px;
}

@media screen and (max-width: 1080px){
    .menuIcon{
        display: block;
        cursor: pointer;
    }

    .noResponsive{
        padding: 10px 20px;
        justify-content: space-between;
    }

    .container{
        grid-template-columns: 1fr;
        justify-items: initial;
        padding: 0;
    }

    /* show by state control in appNavbar.jsx */
    .responsive{
        display: none;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
        background: white;
        border-bottom: 2px solid var(--light);
    }
    
    .searchBar{
        width: 100%;
        margin-right: 10px;
    }

    .cartAndAvatar{
        width: 300px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 500px){
    .noResponsive{
        padding: 10px;
        position: relative;
    }

    .logo{
        padding: 0;
        width: 90px;
    }

    .logo img{
        position: absolute;
        left: 7px;
        top: 15px;
        width: 55px;
    }
}