.container{
    background: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.childrenContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.childrenWrapper{
    background: white;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.15);
    margin: -150px 0 70px 0;
    padding: 2rem 3.5rem;
}


@media screen and (max-width: 500px){
    .childrenWrapper{
        margin-top: -210px;
    }
}