.container{
    background: var(--light);
    padding-right: 65px;
    padding-left: 65px;
    padding-bottom: 40px;
    padding-top: 0;
}

.upside{
    display: grid;
    grid-template-columns: 60% 40%;
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.15);
    border: 1px solid #ddd;
}

.photos{
    background: white;
    /* padding: 20px; */
}

.basicInfo{
    background: white;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.downside{
    background: white;
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.15);
}