.container{
    background: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.childrenContainer{
    /* background: brown; */
    position: absolute;
    width: 100%;
    top: 30%;
    display: flex;
    justify-content: center;
}

.childrenWrapper{
    background: white;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.15);
    margin: -6.875rem auto 0;
    max-width: 26.5rem;
    min-height: 25.5625rem;
    padding: 2rem 4rem;
}


@media screen and (max-width: 450px){
    .childrenContainer{
        top: 26%;
    }
}